
/* Headings */
html{
  scroll-behavior: smooth;
}
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}



.colored-section {
  background-color: rgb(18, 119, 177);
  color: rgb(243, 241, 241);
}

.white-section {
  background-color: #fff;
}


.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.top-border{
  border:  1px solid white; 
  border-style: dotted;
  border-radius: 30px;
  padding:30px;
}

.download-button {
  margin: 5% 3% 5% 0;
}



#title {
  background-color: rgb(18, 119, 177);
  color: white;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}



#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: rgb(40, 1, 1);
  margin-bottom: 1rem;
}

.icon:hover {
  color: #0e0d0d;
}


#testimonials {
  background-color:#121311;
}

.testimonial-text {
  font-size: 1rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-heading{
  font-size: xx-large;
  font-weight: 30px;

}
#press {
  background-color:whitesmoke;
  
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

/* card section */

.cards-section { 
  background-color:white;
  display: flex; 
  justify-content: center; 
  gap: 2rem; 
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  color:black;
}
.card {
  height: 16.1rem;
  width: 12rem;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .card-image > img {
      width: 100%;
      height: 70%;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      }
      /* .card-content {
      padding: 0.5rem;
      } */
      .card-header > h3 {
      margin: 0;
      margin-bottom: 0.5rem;
  }
.card:hover{
  transform: scale(1.2);
}

/* black box section */
.blackbox-section {
  background-color:rgb(18, 119, 177);
  color:black;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  font-family: "Rubik Dirt", cursive;

}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.fi{
  margin:8px;
}
.social-media{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.social-icon {
  margin: 20px 20px;
}

.rectangle{
  display:inline-block;
  height: 50px;
  background-color: #000000;
  padding:7px;
  font-family: "Rubik Dirt", cursive;
 
}

.document-fluid{
  padding: 6% 10%;
}

.download-button{
  background-color: white;
  color:black;
}
.resume{
  margin-left:420px; 
  color:black;
  font-family: "Rubik Dirt", cursive;
}

.document-section {
  background-color: rgba(128, 120, 120, 0.308);
  color: black;
   text-align: center;
   padding:50px;
  font-family: "Rubik Dirt", cursive;
}

.pad{
  margin-left: 20px;
}

.resume-inside-blocks{
  display: inline-block;
  border:  1px solid white;
  padding:30px;
  background-color: white;
  margin-bottom: 10px;
}

#name{
  font-family: "Rubik Dirt", cursive;
  font-size: 5rem;
}
#anchor{
  color:white;
}


  .dotted {border: .5px dotted white;
     border-style: none none dotted;
      color: #fff; 
      background-color: #fff;
     }


.geometry{
  text-align: left;
  font-size: x-large;
  color: #fff;
}




@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}


